.divinity-ia-chat-container {
    width: 50%; 
    max-width: 50%;
    margin: auto; 
    padding: 10px;
    border-radius: 5px;
}

.divinity-ia-chat-messages {
    height: 45rem;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #fff;
    color: #000; 
}

.divinity-ia-chat-input-container {
    display: flex;
    justify-content: flex-end; 
    align-items: center !important; 
    width: 100%;
    margin-left: auto; 
    margin-right: auto; 
    gap: 10px; 
    align-items: stretch; 
    border: 1.5px solid #70407b;
    border-radius: 15px;
}

#divinity-ia-chat-input {
    flex-grow: 1; 
    padding: 5px;
    resize: none;
    overflow-y: auto; 
    background-color: unset;
    border: unset;
}

#divinity-ia-chat-submit {
    flex-shrink: 0;
    width: 50px; 
    height: 50px; 
    margin-right: 5px; 
    border: none;
    background-color: #70407b;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 10px;
}

#divinity-ia-chat-submit:hover {
    background-color: #683475;
}

.loader {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #70407b; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-right: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Media query para dispositivos con pantalla de entre 765px y 1240px de ancho */
@media (min-width: 765px) and (max-width: 1240px) {
    .divinity-ia-chat-container { 
        width: 80%; 
        max-width: 80%;
    }

}
/* Media query para dispositivos con pantalla de hasta 768px de ancho */
@media (max-width: 768px) {
    .divinity-ia-chat-container {
        width: 100%; /* Ancho completo de la página */
        max-width: 100%;
    }
}